body {
	
	font-family: arial,Verdana,sans-serif;
	margin: auto;
	color: black;
	background-color: grey;
	
}
.main{
	color: white;
	padding-top: 20px;
}
.form{
	width: 50%;
	padding: 10px;
	margin-left: 25%;
	background-image:url("img1.jpg");
}
h1{
	text-align: center;
}
.but{
	background-color:#DCDCDC;
}
.but{
	width: 100px;
	height: 40px;

}
.text{
	width: 100%;
	height: 30px;
}